##################################
## My Ignores
##################################
prod/
dev/assets/lib
node_modules
##################################
## Windows
##################################
Thumbs.db
Desktop.ini
##################################
## Mac
##################################
.DS_Store
